* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    transition: transform 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}


.content_container {

    background: radial-gradient(#4fb459ba, #0d68a5fa), url(../../../ASSETS/big_circles.svg)
}

.btn {
    background-image: linear-gradient(#337ab7, #265a88);
}


.side-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.side-bar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.fade-up {
    animation: fade-up 1.5s ease-in-out forwards;
}