* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  transition: transform 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.btn {
  background-image: linear-gradient(#337ab7, #265a88);
}

.side-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.fade-up {
  animation: fade-up 1.5s ease-in-out forwards;
}
